body
{
    font-family: poppins;
}

.header-image
{
    background-image: url('./../Images/Wd-Img 7.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 28vh;
}

.header-text
{
    font-size: 65px;
    font-weight: bold;
}

.card-list
{
    margin-top: 80px;
    margin-bottom: 80px;
}

.card-title
{
    margin-bottom: 20px;
}

.content
{
    padding-right: 100px;
}

.img1
{
    background-image: url('./../Images/sc-rm1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
    margin-bottom: 10px;
}

.img2
{
    background-image: url('./../Images/sc-rm2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
}


.img3
{
    background-image: url('./../Images/sc-rs1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
    margin-bottom: 10px;
}

.img4
{
    background-image: url('./../Images/sc-rs2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
}

.img5
{
    background-image: url('./../Images/sc-ev1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
    margin-bottom: 10px;
}

.img6
{
    background-image: url('./../Images/sc-ev2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
}

.img7
{
    background-image: url('./../Images/sc-sp1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
    margin-bottom: 10px;
}

.img8
{
    background-image: url('./../Images/sc-sp2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
}

.img9
{
    background-image: url('./../Images/sc-be2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
    margin-bottom: 10px;
}

.img10
{
    background-image: url('./../Images/sc-be1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
}

.content2
{
    padding-left: 100px;

}

.main-row
{
    margin-bottom: 60px;
}