body
{
    font-family: poppins;
}

.header-image
{
    background-image: url('./../Images/Home Header.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 28vh;
}

.header-text
{
    font-size: 65px;
    font-weight: bold;
}

.btn
{
    background-color: #FFC164;
    border-color: #FFC164;
    color: black;
    border-radius: 10px;
    width: 100%;
}

.card-header-text
{
    font-weight: bold;
}

.card-set
{
    margin-bottom: 80px;
    margin-top: 80px;
}

.card-row
{
    margin-bottom: 80px;
}

.leftcol
{
    padding-right: 40px;
}

.rightcol
{
    padding-left: 40px;
}